@charset "UTF_8";

/*importando fonts para site*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/*declarando variaveis*/
:root{

    --font1: verdana, Geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    

    --cor1:none;
    --cor2:none;
}


*{
    margin: 0px;
    padding: 0px;
}


html , body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: lightgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--font2);
    padding-top: 35px;
    font-variant: small-caps;
    font-size: 7.5vw;
}
header > p{
    padding-bottom: 35px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
    box-shadow: 0px 0px 15px white;
    margin: 5px;
    border-radius: 20px;
    font-weight: bolder;
    text-decoration:underline ;
    padding: 5px;
}
section{
    padding: 10vh 0vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--font3);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}


section.normal{
    background-color: white;
    color:black;
}

section.imagem{
    background-color: darkgrey;
    color: white;
    box-shadow: inset 5px 7px 15px rgba(0, 0, 0, 0.61);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.404);
    display: inline-block;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
    text-shadow: 2px 2px 5px black;
}

section.imagem > p:hover{
    box-shadow: 5px 5px 15px white;
    text-shadow: 2px 2px 20px white;
}

section#img01{
    background: black url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
}

section#img02{
    background: black url('../imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}